<configuration>
	<runtime>
		<gcConcurrent enabled="true"/>
	</runtime>
	<system.runtime.remoting>
		<customErrors mode="Off"></customErrors>
	</system.runtime.remoting>
	<system.diagnostics>
		<switches>
			<add name="Alphora.Dataphor.Dataphoria.Program" value="Verbose"/>
			<add name="Alphora.Dataphor.Frontend.Client.Windows.Session" value="Verbose"/>
			<add name="Alphora.Dataphor.DAE.Server.Server" value="Verbose"/>
			<add name="Alphora.Dataphor.Dataphoria.TextEditor.D4Editor" value="Verbose"/>
			<add name="Alphora.Dataphor.DAE.Connection.SQLConnection" value="Verbose"/>
			<add name="Alphora.Dataphor.DAE.Server.LocalProcess" value="Verbose"/>
			<add name="Alphora.Dataphor.DAE.Server.ServerProcess" value="Verbose"/>
		</switches>
		<trace autoflush="true"/>
	</system.diagnostics>
	<startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
