<configuration>
	<runtime>
		<gcConcurrent enabled="true" />
	</runtime>
	<system.runtime.remoting>
		<customErrors mode="Off"></customErrors>
	</system.runtime.remoting>
  <system.diagnostics>
    <trace autoflush="true"/>
    <switches>
      <add name="Alphora.Dataphor.Dataphoria.Program" value="Info"/>
    </switches>
  </system.diagnostics>
</configuration>