.dockerignore
.env
.git
.gitignore
.vs
.vscode
*.cs
*.sln
*.snk
*.csproj
*.dcproj
/Dataphor
/Dataphoria
/Design
/Docker
/Documentation
/External
/Images
/Legacy
/Libraries
/Setup
/Tests
/Utilities


!Dataphoria/Dataphoria.Web.API.Core

