.dockerignore
docker-compose.yml
docker-compose.*.yml
.env
.git
.gitignore
.vs
.vscode
/obj
/bin


/Dataphor
/Dataphoria
/Design
/Docker
/Documentation
/External
/Images
/Legacy
/Setup
/Tests
/Utilities

!Dataphor/D4Runner
!Dataphoria/Dataphoria.Web.API.Core
!Docker/dataphoria-web-api-core/Dataphor

/*/*/Source


