*.dll
*.dll.config
*.pdb
*.suo
*.user

*.DS_Store

[Bb]in/
[Oo]bj/
[Dd]eploy
[Mm][Ss][Ii][Ss]

node_modules/
_book/

Sandbox
Dataphor/packages
/Dataphoria/Dataphoria.Web/Properties/PublishProfiles/Bobby.pubxml
