*.dll
*.dll.config
*.pdb
*.suo
*.user

*.DS_Store

[Bb]in/
[Oo]bj/
[Dd]eploy
[Mm][Ss][Ii][Ss]

Sandbox
Dataphor/packages
/Dataphoria/Dataphoria.Web/Properties/PublishProfiles/Bobby.pubxml

$RANDOM_SEED$
node_modules/
.vs/