<form #f="ngForm" id="form-wrapper">

    <div class="input-window" ace-editor [text]="iText" [mode]="'sql'" [options]="iOptions" [theme]="iTheme" [autoUpdateContent]="true" (textChanged)="onInputChange($event)"></div>

    <!--<input type="text"
           class="input"
           [(ngModel)]="model.query"
           name="query">-->
    <br />
    <button class="button flex md-col-2" [class.running]="running" (click)="runScript()">
        <div class="self-center">
            {{ running ? 'Running...' : 'Run'}}
        </div>
        <i class="material-icons" [hidden]="running">play_arrow</i>
    </button>

    <div class="output-window" ace-editor [text]="oText" [mode]="'sql'" [options]="oOptions" [readOnly]="oIsReadOnly" [autoUpdateContent]="true"></div>

</form>
