<?xml version="1.0" encoding="utf-8"?>
<aliasconfiguration xmlns:bop="www.alphora.com/schemas/bop" defaultaliasname="Processor" xmlns="Alphora.Dataphor.DAE.Client,Alphora.Dataphor.DAE.Client">
  <inprocessalias isembedded="True" instancename="Processor" name="Processor" sessioninfo.catalogcachename="" sessioninfo.environment="" sessioninfo.hostname="" sessioninfo.unstructureddata="" />
</aliasconfiguration>