<?xml version="1.0"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<system.serviceModel>
		<bindings>
			<customBinding>
				<binding name="customBinary" sendTimeout="00:02:00">
					<binaryMessageEncoding>
						<readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
					</binaryMessageEncoding>
					<tcpTransport maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
				</binding>
			</customBinding>
		</bindings>
		<services>
			<!-- The name of the service by default is the name of the class name implementing the service. With UseServerConfiguration set to true in the
			instance configuration, the name of the service will be the name of the instance for the Dataphor service, the name of the instance plus '.Native'
			for the NativeCLI service, and the name 'Listener' for the listener service. -->
			<!--service name="Alphora.Dataphor.DAE.Service.DataphorService"-->
			<!--service name="LocalGit3">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8069"/>
					</baseAddresses>
				</host>
				<endpoint address="service" binding="customBinding" bindingConfiguration="customBinary" 
					contract="Alphora.Dataphor.DAE.Contracts.IDataphorService">
				</endpoint>
			</service>
			<service name="LocalGit3.Native">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8069"/>
					</baseAddresses>
				</host>
				<endpoint address="service/native" binding="customBinding" bindingConfiguration="customBinary" 
					contract="Alphora.Dataphor.DAE.Contracts.INativeCLIService">
				</endpoint>
			</service>
			<service name="Listener">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8060"/>
					</baseAddresses>
				</host>
				<endpoint address="listener/service" binding="customBinding" bindingConfiguration="customBinary"
					contract="Alphora.Dataphor.DAE.Constracts.IListenerService">
				</endpoint>
			</service-->
		</services>
	</system.serviceModel>
</configuration>
