<?xml version="1.0"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<system.serviceModel>
		<bindings>
			<customBinding>
				<binding name="customBinary" sendTimeout="00:02:00">
					<binaryMessageEncoding>
						<readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
					</binaryMessageEncoding>
					<tcpTransport maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
				</binding>
			</customBinding>
		</bindings>
		<!--services>
			<service name="Alphora.Dataphor.DAE.Service.DataphorService">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8069/LocalGit3"/>
					</baseAddresses>
				</host>
				<endpoint address="service" binding="customBinding" bindingConfiguration="customBinary" 
					contract="Alphora.Dataphor.DAE.Contracts.IDataphorService">
				</endpoint>
			</service>
		</services-->
	</system.serviceModel>
</configuration>
