<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>BBEditDocumentType</key>
  <string>CodelessLanguageModule</string>
  <key>BBLMLanguageDisplayName</key>
  <string>Dataphor D4</string>
  <key>BBLMLanguageCode</key>
  <string>ALD4</string>
  <key>BBLMSuffixMap</key>
  <array>
    <dict>
      <key>BBLMLanguageSuffix</key>
      <string>.d4</string>
    </dict>
  </array>
  <key>BBLMColorsSyntax</key>
  <true/>
  <key>BBLMScansFunctions</key>
  <true/>
  <key>BBLMIsCaseSensitive</key>
  <true/>
  <key>BBLMKeywordList</key>
  <array>
    <string>abstract</string>
    <string>add</string>
    <string>adorn</string>
    <string>after</string>
    <string>aggregate</string>
    <string>aggregation</string>
    <string>all</string>
    <string>alter</string>
    <string>and</string>
    <string>apply</string>
    <string>as</string>
    <string>asc</string>
    <string>attach</string>
    <string>attributes</string>
    <string>bag</string>
    <string>before</string>
    <string>begin</string>
    <string>between</string>
    <string>break</string>
    <string>browse</string>
    <string>by</string>
    <string>capabilities</string>
    <string>cascade</string>
    <string>case</string>
    <string>change</string>
    <string>class</string>
    <string>clear</string>
    <string>column</string>
    <string>commit</string>
    <string>const</string>
    <string>constraint</string>
    <string>continue</string>
    <string>conversion</string>
    <string>create</string>
    <string>cursor</string>
    <string>default</string>
    <string>delete</string>
    <string>desc</string>
    <string>detach</string>
    <string>device</string>
    <string>distinct</string>
    <string>div</string>
    <string>divide</string>
    <string>do</string>
    <string>downto</string>
    <string>drop</string>
    <string>dynamic</string>
    <string>else</string>
    <string>end</string>
    <string>except</string>
    <string>exclude</string>
    <string>exists</string>
    <string>exit</string>
    <string>explode</string>
    <string>finalization</string>
    <string>finally</string>
    <string>for</string>
    <string>foreach</string>
    <string>from</string>
    <string>generic</string>
    <string>grant</string>
    <string>group</string>
    <string>having</string>
    <string>if</string>
    <string>in</string>
    <string>include</string>
    <string>index</string>
    <string>indexes</string>
    <string>inherited</string>
    <string>initialization</string>
    <string>insert</string>
    <string>intersect</string>
    <string>into</string>
    <string>invoke</string>
    <string>is</string>
    <string>isolation</string>
    <string>join</string>
    <string>key</string>
    <string>left</string>
    <string>level</string>
    <string>like</string>
    <string>list</string>
    <string>lookup</string>
    <string>master</string>
    <string>matches</string>
    <string>minus</string>
    <string>mod</string>
    <string>mode</string>
    <string>modify</string>
    <string>narrowing</string>
    <string>new</string>
    <string>not</string>
    <string>of</string>
    <string>old</string>
    <string>on</string>
    <string>operator</string>
    <string>or</string>
    <string>order</string>
    <string>origin</string>
    <string>over</string>
    <string>override</string>
    <string>parent</string>
    <string>raise</string>
    <string>read</string>
    <string>reconciliation</string>
    <string>recursively</string>
    <string>redefine</string>
    <string>reference</string>
    <string>references</string>
    <string>reintroduce</string>
    <string>remove</string>
    <string>rename</string>
    <string>repeat</string>
    <string>representation</string>
    <string>require</string>
    <string>result</string>
    <string>return</string>
    <string>revert</string>
    <string>revoke</string>
    <string>right</string>
    <string>role</string>
    <string>row</string>
    <string>rowexists</string>
    <string>scalar</string>
    <string>select</string>
    <string>selector</string>
    <string>sequence</string>
    <string>server</string>
    <string>session</string>
    <string>set</string>
    <string>sort</string>
    <string>source</string>
    <string>special</string>
    <string>static</string>
    <string>step</string>
    <string>store</string>
    <string>table</string>
    <string>tags</string>
    <string>target</string>
    <string>then</string>
    <string>times</string>
    <string>to</string>
    <string>transition</string>
    <string>try</string>
    <string>type</string>
    <string>typeof</string>
    <string>union</string>
    <string>until</string>
    <string>update</string>
    <string>usage</string>
    <string>user</string>
    <string>users</string>
    <string>using</string>
    <string>validate</string>
    <string>value</string>
    <string>var</string>
    <string>view</string>
    <string>virtual</string>
    <string>when</string>
    <string>where</string>
    <string>while</string>
    <string>widening</string>
    <string>with</string>
    <string>without</string>
    <string>write</string>
    <string>xor</string>
  </array>
  <key>Language Features</key>
  <dict>
    <key>Identifier and Keyword Character Class</key>
    <string><![CDATA[a-zA-Z0-9_]]></string>

    <key>Comment Pattern</key>
    <string><![CDATA[(?xs:
      (/\*.*?\*/|//[^\n]*\n)
    )]]></string>

    <key>String Pattern</key>
    <string><![CDATA[(?xs:
      (
        (nil)
      | (false | true)
      | ((?<!\w) [\$]? [0-9] [0-9A-Za-z_]* ([\.] [0-9] [0-9A-Za-z_]*)?)
      | (' [^']* '|" [^"]* ")
      )
    )]]></string>

    <key>Function Pattern</key>
    <string><![CDATA[(?xs:
      (?<!\w) create \s+ [a-zA-Z_]+ \s+
      (?P<function_name>
        (\s* \. \s* [a-zA-Z_][a-zA-Z0-9_]*)*
      )
      [^a-zA-Z0-9_]
    )]]></string>
  </dict>
</dict>
</plist>
