<?xml version="1.0" encoding="utf-8"?>
<instanceconfiguration xmlns:bop="www.alphora.com/schemas/bop" xmlns="Alphora.Dataphor.DAE.Server,AlphoraDataphorServer">
	<serverconfiguration catalogstoreclassname="" catalogstoreconnectionstring="" instancedirectory="" librarydirectories="D:\src\DataphorFHIR\Libraries" name="Processor" portnumber="8890" />
</instanceconfiguration>