<aliasconfiguration xmlns:bop="www.alphora.com/schemas/bop" defaultaliasname="Local" xmlns="Alphora.Dataphor.Frontend.Client,Alphora.Dataphor.Frontend.Client">
    <connectionalias sessioninfo.unstructureddata="" sessioninfo.hostname="" sessioninfo.catalogcachename="" name="Local" />
</aliasconfiguration>