<aliasconfiguration xmlns:bop="www.alphora.com/schemas/bop" defaultaliasname="DeployTest" xmlns="Alphora.Dataphor.Frontend.Client,Alphora.Dataphor.Frontend.Client">
    <connectionalias sessioninfo.unstructureddata="" sessioninfo.hostname="" sessioninfo.catalogcachename="" name="Local" />
    <connectionalias sessioninfo.unstructureddata="" sessioninfo.hostname="" sessioninfo.catalogcachename="" name="DeployTest" portnumber="8062" />
</aliasconfiguration>