<?xml version="1.0" encoding="utf-8"?>
<instanceconfiguration xmlns:bop="www.alphora.com/schemas/bop" xmlns="Alphora.Dataphor.DAE.Server,AlphoraDataphorServer">
  <serverconfiguration catalogstoreclassname="Alphora.Dataphor.DAE.Store.SQLite.SQLiteStore,Alphora.Dataphor.DAE.SQLite" catalogstoreconnectionstring="Data Source=%CatalogPath%/DAECatalog" instancedirectory="/usr/share/Alphora/Instances" librarydirectories="/usr/share/Alphora/Libraries;/usr/share/Alphora/Application/Libraries" name="Processor"/>
</instanceconfiguration>