<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeCoverage" version="1.0.3" targetFramework="net471" />
  <package id="Microsoft.Data.Sqlite" version="2.1.0-preview2-final" targetFramework="net471" />
  <package id="Microsoft.Data.Sqlite.Core" version="2.1.0-preview2-final" targetFramework="net471" />
  <package id="Microsoft.NET.Test.Sdk" version="15.7.0" targetFramework="net471" />
  <package id="NUnit" version="3.10.1" targetFramework="net471" />
  <package id="NUnit3TestAdapter" version="3.10.0" targetFramework="net471" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.10" targetFramework="net471" />
  <package id="SQLitePCLRaw.core" version="1.1.10" targetFramework="net471" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.linux" version="1.1.10" targetFramework="net471" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.1.10" targetFramework="net471" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.v110_xp" version="1.1.10" targetFramework="net471" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.net45" version="1.1.10" targetFramework="net471" />
  <package id="System.Data.SQLite.Core" version="1.0.108.0" targetFramework="net471" />
</packages>